*{
    margin: 0px;
    padding: 0px;
    color: #FBF5D2;
    text-decoration: none;
}

body{
    background-image: url("a6aede1ed9791fcb87b854a6c5577087.png");
}

.header{
    height: 100px;
    font-family: 'Italianno', cursive;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.paraHead{
    display: flex;
    font-family: "AkayaTelivigala";
    font-size:25px;
    height: 200px;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
}

.cardPick{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; 
    margin-top: 10px;
}

.cardPick img {
    width: 120px; 
    height: auto;
    border-radius: 10px;  
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }

.result{
    display: flex;
    flex-direction: column;        
    align-items: center;           
    background-color: #571463;     
    font-family: "AkayaTelivigala";
    font-size: 15px;
    color: #FBF5D2;
    width: 48vw;                
    max-width: 1000px;          
    height: 600px;
    margin: 40px auto;   
    border-radius: 12px;      
  }
  
.result h4 {
    margin: 0 0 20px 0;   
    font-size: 28px;
  }

.returnHome{
    display: flex;
    font-family: AkayaTelivigala;
    font-size:30px;
    color: #FBF5D2;
    justify-content: center;
    text-decoration-line: underline;
    text-decoration-thickness: 10%;
}
