*{
    margin: 0px;
    padding: 0px;
    color: #FBF5D2;
}

.text{ 
    color: #FBF5D2;
    font-size:20px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Akaya Telivigala', cursive;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    align-items: center;
}


.header_dev{
    font-family: 'Italianno', cursive;
    font-size: 50px;
    color: #FBF5D2;
}
.home{
    font-family: 'Akaya Telivigala', cursive;
    font-size:20px;
    color: #FBF5D2;
}

.image{
    position: relative;

    margin-top: 120px;
}

.card{
    position: absolute;
    top: -250px;
    left: 0px;
    height: 200px;
    width: 116.8627451px;
    
}   

